## Welcome to the `O+` Zone
#### A Software Engineer by Day ☀️ and a Security Researcher by Night 🌜
- ⚙️ Mostly Working With `.go`, `.js`, `.py`, `.java`, `.kt`, `.php`
- 🧱 Trying to build a wall against malware
- 🌏 Making private networks for fun
- 🪲 Reverse Engineering the bugs?

### Latest Blog Posts
{{POSTS}}

```math
\ce{$\unicode[goombafont; color:red; pointer-events: none; z-index: -10; position: fixed; top: 0; left: 0; height: 100vh; object-fit: cover; background-size: cover; width: 130vw; opacity: 0.5; background: url('https://raw.githubusercontent.com/MrOplus/MrOplus/main/dd53d87ffa084978d5d1734b03ec1266.jpg');]{x0000}$}


